{{- if .Values.singleContainer }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rhoim-appliance
spec:
  replicas: 1
  selector: { matchLabels: { app: rhoim-appliance } }
  template:
    metadata: { labels: { app: rhoim-appliance } }
    spec:
      containers:
      - name: appliance
        image: {{ .Values.image.appliance }}
        imagePullPolicy: IfNotPresent
        ports: [{containerPort: 8080}]
        env:
        - name: API_KEYS
          valueFrom: { secretKeyRef: { name: rhoim-secrets, key: API_KEYS } }
        - name: ENABLE_RHOAI_ALIAS
          value: {{ .Values.enableRhoaiAlias | quote }}
        - name: BASE_PATH
          value: {{ .Values.basePath | quote }}
        - name: MODEL_SOURCE
          value: {{ .Values.model.source | quote }}
        - name: MODEL_URI
          value: {{ .Values.model.uri | quote }}
        volumeMounts:
        - name: models
          mountPath: /models
        resources:
{{ toYaml .Values.resources.appliance | indent 10 }}
      volumes:
      - name: models
        emptyDir: {}
{{- end }}
